.footer {
  font-size: 1.2rem;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: #2980b9;
}

.footer p {
  padding: 0.3rem;
  line-height: 1.65;
}

@media screen and (min-width: 530px) {
  .footer p {
    line-height: 1.45;
  }
}
