* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 58%;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #f9f2d3;
  color: #435961;
  font-size: 1.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 2rem auto 4rem auto;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 3.8rem;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1);
}

.app {
  position: relative;
  margin-top: 1em;
}

.app-content {
  min-height: 20rem;
  position: relative;
}

@media screen and (min-width: 530px) {
  html {
    font-size: 60%;
  }

  .app {
    min-width: 50rem;
    padding: 1rem 1.8rem;
    margin: 2em auto;
    border-radius: 1rem;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
    min-height: 25rem;
  }
}

@media screen and (min-width: 620px) {
  html {
    font-size: 62.5%;
  }
}
